
#profile-supervisor-name {
    font-size: 16px;
    font-weight: bold;
}

#profile-heading {
    font-size: 16px;
}

.profile-item label {
    font-weight: bold;
}

.close-btn {
    position: absolute;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #000;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.profile-section {
    position: relative;
}

.close-btn:hover {
    color: #f00;
}