body {
  background-color: var(--text-color);
}

main {
  height: 100%;
  width: 100%;
}

/* header */

.header-logo {
  height: var(--header-height);
  width: 170px;
  cursor: pointer;
}

.header-logo {
  height: var(--header-height);
  width: 170px;
  cursor: pointer;
}

.nav-header-list {
  display: flex;
  height: calc(var(--header-height) - 10px);
  font-size: 1.6rem;
}

.nav-item {
  width: 140px;
  height: 40px;
  border-radius: 5px;
}

.nav-header-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.nav-header-item:hover {
  background-color: var(--text-color);
}

.navbar {
  font-size: 1.8rem;
}

.navbar-toggler-icon {
  width: 25px;
  height: 25px;
}

.navbar-toggler {
  width: 45px;
  height: 35px;
}

.nav-header-item:hover {
  cursor: pointer;
}

.header-container {
  /* height: var(--header-height); */
  background-color: var(--nude-color);
}

.profile-image {
  display: none;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.shaded {
  background-color: var(--text-color);
}

#profile_img.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  #profile_img.bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

#container {
  display: flex;
}

#profile_img {
  width: 70%;
  height: 85%;
  margin-top: 5%;
  border-radius: 20%;
  border: 1px solid black;
}

#about-me {
  margin-left: 20%;
  margin-top: 10%;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}

#EditBtn {
  width: 7%;
  height: 100%;
}

#editModal {
  margin-bottom: 10px;
  height: 190px;
}

#Bibliography {
  height: 70%;
  width: 100%;
}

#EditPicture {
  width: 100%;
  display: flex;
  justify-content: center;
}

#EditPictureInput {
  font-size: 13px;
  margin-top: 15px;
  text-align: center;
}

.modal_profile {
  font-size: 1.7rem;
  padding: 2px 8px;
  width: 100%;
}

#SaveProfile {
  height: 15%;
  width: 15%;
  font-size: 1rem;
  margin: 5px 5px;
  float: right;
}

#SaveBib {
  height: 15%;
  width: 15%;
  font-size: 1rem;
  margin: 5px 5px;
  float: right;
}

h2 {
  text-align: center;
}

#Content {
  height: 90%;
  overflow-y: auto;
}

#deleteBtn {
  float: right;
  height: 80%;
  font-size: 1.4rem;
}

#CapabilityHeader {
  text-align: center;
}

.Capabilities_add {
  float: right;
  font-size: 1.7rem;
}

#CapabilitiesCreateContainer {
  display: flex;
}

#CapabilitiesContainer {
  height: 60%;
  overflow-y: auto;
}

#CapabilitiesCreateInput {
  width: 85%;
}

.modal_body_header {
  display: flex;
  justify-content: space-between;
}

.Capabilities_add {
  margin: 0px 8px;
}

.Capabilities_add:nth-child(1) {
  background-color: var(--text-color);
}

.Capabilities_add:nth-child(1):hover {
  background-color: white;
  cursor: pointer;
}

.Capabilities_add:nth-child(2) {
  background-color: rgba(106, 112, 132, 0.6);
}

.Capabilities_add:nth-child(2):hover {
  cursor: default;
}

#Bib {
  font-size: 1.5rem;
  width: 100%;
  word-wrap: break-word;
}

.profile_li,
.capstone_li {
  font-size: 1.8rem;
  display: flex;
  margin-bottom: 1rem;
}

@media (max-width: 1000px) {
  .capstone_li {
    flex-direction: column;
  }
}

.list-group-item {
  font-size: 1.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
